body {
  background: rgb(85, 44, 24);
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

header {
  font-family: "Urbanist", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("/images/cafe-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
}

header h1 {
  font-weight: 500;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  color: rgb(85, 44, 24);
}

@media (max-width: 800px) {
  header {
    padding: 40px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 15px;
  }
}
